.display{
    grid-column: span 4;
    background: linear-gradient(to top, #1e9600, #fff200, #ff0000);
    color: black;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2.1rem;
}    