.Quadro{
    
    display: flex;
    flex-direction: column;
    border: black 1px   solid;
 
    

}

.Quadro h3{
    background-color: rgb(148, 161, 239);

}

.Quadro .ValorMinimo {
    background-color: rgb(227, 231, 0);
    color: rgb(0, 0, 0);
}

.Quadro .ValorMaximo {
    background-color: rgb(15, 247, 53);
    color: rgb(0, 0, 0);
}

.Quadro .ValorSorteado {
    background-color: rgb(245, 64, 3);
    color: rgb(0, 0, 0);
}
