.Tabela {
    
    color: black;
    border-collapse: separate;
    border-spacing: 0 8px;
    margin: 8px;
    border: black 1px   solid;
}

.Tabela tr{
    display: flex;
    justify-content:space-around;
    border-radius: 10%;
    width: 100%;
    
    
}

.Tabela td{
    border: 1px solid;
    min-width: 100px;
    height: 15px;
}

.Tabela .par{
   
    background-color: rgb(47, 200, 242);
    color: rgb(0, 0, 0);
}

.Tabela .impar{
    
    background-color: rgb(47, 53, 242);
    color:  rgb(0, 0, 0);
}

